<html>
<head>
<%= javascript_include_tag "prototype" %>
<%= stylesheet_link_tag "cohort" %>
<script>
  var tt_cancel_destination = "/cohort_tool"  

  function showReport() {
    cohort = document.getElementsByClassName('scrollTableContainer')[0]
    survival_analysis = document.getElementsByClassName('survival-analysis')[0]
    switch_button = $('switch_view')
    if (switch_button.innerHTML.sub('<span>','').sub('</span>','') == 'Survival Analysis'){
      cohort.style.display = 'none'
      switch_button.innerHTML = "<span>Cohort</span>"
      survival_analysis.style.display = 'inline'
    } else {
      cohort.style.display = 'inline'
      switch_button.innerHTML = "<span>Survival Analysis</span>"
      survival_analysis.style.display = 'none'
    } 
     
  }
</script>
<style>
  table {
    border-style:none;
    border-width:0px;
    margin-left: 5px;
    margin-right: 5px;
    }

  th {
    border-style:solid;
    border-width:0.5px;
    font-weight: normal;
  }

  td {
    text-align:center;
    border-style:solid;
    border-width:0.5px;
    width:8%;
  }
  .row_break td {
    border-width:0px;
  }

  div.scrollTableContainer {
    border-style:solid;
    border-width: 0.5px;
    width: 980px;
    height: 500px;
  }

  .survival-analysis th, .survival-analysis td {
    text-align:left;
  }
  .dataTable th{
   text-align:center;
  }

  .dataTable td{
   text-align:center;
  }
  
</style>

<title>Cohort <%= Location.current_health_center.name + "" -%></title>
</head>

<body>
<h1><%= Location.current_health_center.name + "" -%></h1>
<br />

<div class='scrollTableContainer'>

  <div id="header">
    <b> Facility            : </b> <%= Location.current_health_center.name -%> <br/>
    <b> Name of TB Officer  : </b> Precious
  </div>
  <h3> Block 1: TB Treatment outcomes </h3>
<table class='dataTable' cellspacing='0'>
<!-- <thead> -->
<tr>
  <th rowspan="2">Type of Case</th>
  <th style="text-align: center; font-weight: bold" colspan="7" rowspan="1"> Treatment</th>
    <th rowspan="2">Total number evaluated for outcomes</th>
</tr>
<tr>
  <th>Total number of patients registered during quarter</th>
  <th>Cure</th>
  <th>Treatment Completed</th>
  <th>Died</th>
  <th>Treatment Failure</th>
  <th>Default</th>
  <th>Transfer Out</th>
</tr>
<!--</thead> -->

<tr>
  <td style ="width: 15%; text-align: left">New sputum smear microscopy positive</td>
  <td>-</td>
  <td>-</td>
  <td>-</td>
  <td>-</td>
  <td>-</td>
  <td>-</td>
  <td>-</td>
  <td>-</td>
</tr>
<tr>
  <td style ="text-align: left">Previously treated sputum smear microscopy positive (relapses)</td>
  <td>-</td>
  <td>-</td>
  <td>-</td>
  <td>-</td>
  <td>-</td>
  <td>-</td>
  <td>-</td>
  <td>-</td>
</tr>
<tr>
  <td style ="text-align: left">Previously treated sputum smear microscopy positive (Failures Treatment after default)</td>
  <td>-</td>
  <td>-</td>
  <td>-</td>
  <td>-</td>
  <td>-</td>
  <td>-</td>
  <td>-</td>
  <td>-</td>
</tr>
<tr>
  <td style ="text-align: left">Sputum smear negative</td>
  <td>-</td>
  <td>-</td>
  <td>-</td>
  <td>-</td>
  <td>-</td>
  <td>-</td>
  <td>-</td>
  <td>-</td>
</tr>
<tr>
  <td style ="text-align: left">Extra-pulmonary TB</td>
  <td>-</td>
  <td style ="background-color: gray">-</td>
  <td>-</td>
  <td>-</td>
  <td style ="background-color: gray">-</td>
  <td>-</td>
  <td>-</td>
  <td>-</td>
</tr>
<tr>
  <td style ="text-align: left">MDR TB</td>
  <td>-</td>
  <td style ="background-color: gray">-</td>
  <td>-</td>
  <td>-</td>
  <td style ="background-color: gray">-</td>
  <td>-</td>
  <td>-</td>
  <td>-</td>
</tr>
<tr>
  <td style ="text-align: left">XDR TB</td>
  <td>-</td>
  <td style ="background-color: gray">-</td>
  <td>-</td>
  <td>-</td>
  <td style ="background-color: gray">-</td>
  <td>-</td>
  <td>-</td>
  <td>-</td>
</tr>
<tr>
  <td style ="text-align: left">Other previously treated (recurrent, smear negative and Extra-pulmonary</td>
  <td>-</td>
  <td style ="background-color: gray">-</td>
  <td>-</td>
  <td>-</td>
  <td style ="background-color: gray">-</td>
  <td>-</td>
  <td>-</td>
  <td>-</td>
</tr>
</table>
<br/>
<h3> Block 2: HIV Activities</h3>
<table class="dataTable" cellspacing='0'>
  <tr>
    <td style="text-align: left">All TB Cases</td>
    <td colspan="3">-</td>
  </tr>
  <tr>
    <td style="text-align: left">No. HIV positive</td>
    <td colspan="3">-</td>
  </tr>
  <tr>
    <td style="text-align: left">No. on CPT</td>
    <td colspan="3">-</td>
  </tr>
  <tr>
    <td style="text-align: left">No. allergic to CPT</td>
    <td colspan="3">-</td>
  </tr>
  <tr>
    <td style="text-align: left">All on ART</td>
    <td> <span style="float:left"><b>A:</b></span>0</td>
    <td> <span style="float:left"><b>B:</b></span>0</td>
    <td> <span style="float:left"><b>C:</b></span>0</td>
  </tr>
</table>

<b> A: </b> Diagnosed TB but Started ART <b> B: </b> Started ART while on TBT <b> C: </b> Did not start ART when diagnosed with TB <br/> <br/>

</div
</body>
</html>
