<script>
  var tt_cancel_destination = "/patients/programs/<%= @patient.patient_id %>"
  var current_state_input_box = null
  function set_workflow_for_states() {
    var workflow_id = <%= @program_workflow_id %>
    $('touchscreenInput'+tstCurrentPage).setAttribute('ajaxURL', "/programs/states?workflow=" + workflow_id);
    current_state_input_box = $('touchscreenInput'+tstCurrentPage)
    listSuggestions(tstCurrentPage); 
  }

</script>
<form id='program' action="/programs/update" method = 'post'>
  <%= hidden_field_tag :patient_id, @patient.id %>
  <%= hidden_field_tag :patient_program_id, @patient_program_id %>
  <%= hidden_field_tag :location_id, Location.current_health_center.id %>

  <%= select_tag 'current_state', params[:current_state],
      {:id => 'initial_state',
       :field_type => 'alpha',
       :helpText => "Current state",
       :tt_onLoad => "resetNextButtonCaption();set_workflow_for_states();", 
       :ajaxURL => "",
       :allowFreeText => false } %>

  <%= text_field_tag 'current_date', params[:current_date] || (Time.now).year,
        {:id => 'current_date',
         :field_type => 'date',
         :tt_onLoad => "changeNextButtonCaption();",
         :helpText => "Current state start date",
         :tt_pageStyleClass => "Date DatesOnly"} %>

  <script>
    function resetNextButtonCaption(){
      $('nextButton').innerHTML = "<span>Next</span>"
    }

    function changeNextButtonCaption(){
      if(current_state_input_box.value != 'PATIENT TRANSFERRED OUT'){
        $('nextButton').innerHTML = "<span>Finish</span>"
      }
    }
  </script>

  <%= select_tag 'transfer_out_location_id', nil,
      {:id => 'transfer_out_location_id',
       :field_type => 'alpha',
       :helpText => "Transfer out location",
       :ajaxURL => '/programs/locations?q=',
       :condition => "current_state_input_box.value == 'PATIENT TRANSFERRED OUT'",
       :allowFreeText => true } %>

  <%= touch_yes_no_unknown_tag "TRANSFER WITHIN RESPONSIBILITY", @patient, nil,
      {:id => "transfer_within_responsibility",
       :optional => false,
       :condition => "current_state_input_box.value == 'PATIENT TRANSFERRED OUT'",
       :helpText => "Transfer within responsibility" } %>


  <%= hidden_field_tag "encounter[encounter_type_name]", "TRANSFER OUT" %>
  <%= hidden_field_tag "encounter[patient_id]", @patient.id %>
  <%= hidden_field_tag "encounter[encounter_datetime]", DateTime.now() %>
  <%= hidden_field_tag "encounter[provider_id]", session[:user_id] %>
</form>

