<div id="nav">
  <ul>
    <li><a <%= 'class="active"' if active == 'overview' %> href='/patients/show/<%= @patient.patient_id %>'>Overview</a></li>
    <li><a <%= 'class="active"' if active == 'problems' %> href='/patients/problems/<%= @patient.patient_id %>'>Problems</a></li>
    <li><a <%= 'class="active"' if active == 'personal' %> href='/patients/personal/<%= @patient.patient_id %>'>Personal</a></li>
    <li><a <%= 'class="active"' if active == 'history' %> href='/patients/history/<%= @patient.patient_id %>'>History</a></li>
    <li><a <%= 'class="active"' if active == 'orders' %> href='/patients/orders/<%= @patient.patient_id %>'>Orders</a></li>
    <li><a <%= 'class="active"' if active == 'programs' %> href='/patients/programs/<%= @patient.patient_id %>'>Programs</a></li>
  </ul>
</div>
