<%= render :partial => 'dashboards/nav', :locals => {:active => 'overview'} %>
<script type="text/javascript">
  jQuery(document).ready(function($) {
    $('#visit').click(function() { window.location = '/patients/print_visit?patient_id=<%= @patient.id -%>' })
    $('#encounters li.data').click(function() { $('#observations').empty().load('/encounters/observations/' + $(this).attr('encounter')) }); 
    $('#encounters li.data div.void').click(function() { $.post('/encounters/void/' + $(this).parent().attr('encounter')) }); 
    $('#encounters li.data div.void').click(function() { $.post('/encounters/void/' + $(this).parent().attr('encounter')) }); 
    $('#charts').empty().load('/patients/graph/<%= @patient.id -%>?data=weight');     
  }) 
</script>
<div id="tab">
  <div id="summary" class="panel">
    <p><%=h @patient.summary %></p>
  </div>
  <div id="alerts" class="panel">
    <h2>Alerts</h2>
  </div>
  <div id="encounters" class="panel">
    <button id="visit" class="silver" style="float:right"><span>Print</span></button>    
    <h2>Today's Visit</h2>
    <ul class="list">
      <% for encounter in @encounters do %>
        <li class="data <%= cycle('even', 'odd') %>" encounter="<%= encounter.id %>">
          <div class="void"><img src="/images/cancel_flat_small.png"/></div>
          <div class="encounter"><%=h encounter.name.humanize %> at <%=h encounter.encounter_datetime.strftime("%k:%M") %></div>
        </li>  
      <% end %>
    </ul>
    <ul id="observations" class="list">
    </ul>    
  </div>
  <div id="charts" class="panel" style="height:235px;">
  </div>
</div>