<%= render :partial => 'dashboards/nav', :locals => {:active => 'treatment'} %>
<%= javascript_include_tag "barcode" %>
<style type="text/css">
  .subtotal { margin-left:32px; font-size: 0.8em;}
  .warning { color: red; font-weight: bold; }
</style>
<script type="text/javascript">
  barcodeId = 'barcode';
  jQuery(document).ready(function($) {
    $('#dispense').click(function() { window.location = '/dispensations/new?patient_id=<%= @patient.id -%>' })
    $('#prescribe').click(function() { window.location = '/prescriptions/new?patient_id=<%= @patient.id -%>' })
    $('#regimen').click(function() { window.location = '/regimens/new?patient_id=<%= @patient.id -%>' })
    $('#treatment li.data div.void').click(function() { 
      node = $(this).parent();
      $.post('/prescriptions/void/?patient_id=<%= @patient.id -%>&order_id=' + node.attr('prescription'), {}, function(data, status) {
        if (status == 'success') node.remove();
      }) 
    }); 
  }) 
</script>
<div id="tab">
  <div id="treatment" class="panel" style="width:780px">
    <h2>Today's Treatment</h2>
    <ul id="prescriptions" class="list" style="height:135px;width:100%;">
      <% @prescriptions.each do |order| %>
        <li class="data <%= cycle('even', 'odd') %>" prescription="<%= order.id %>">
          <div class="void"><img src="/images/cancel_flat_small.png"/></div>
          <div class="summary">
            <%= order.to_s.gsub(/\n/, '<br/>') -%>
            <%= amount_needed = order.drug_order.amount_needed -%>
            <% amounts_dispensed = order.drug_order.total_drug_supply(@patient) %>
            <% amounts_dispensed.each do |amount_dispensed| %>
              <div class="subtotal dispensation"><%=h amount_dispensed.to_s %></div>
            <% end %>
            <div class="subtotal">TOTAL SUPPLY OF DRUG RECEIVED BY PATIENT: <%= order.drug_order.quantity.to_s %></div>
            <div class="subtotal">NEED TO DISPENSE: <span class="<%= 'warning' if amount_needed > 0 %>"><%= amount_needed.to_s %></span></div>  
          </div>
        </li>  
      <% end %>
      <% if @prescriptions.blank? %>        
        <li class="data">No prescriptions are available for this patient today</li>
      <% end %>
    </ul>
    <h2>Historical Treatment</h2>
    <ul id="prescriptions" class="list" style="height:135px;width:100%;">
      <% @historical.reverse.each do |order| %>
        <li class="data <%= cycle('even', 'odd') %>" prescription="<%= order.id %>">
          <div class="void"><img src="/images/cancel_flat_small.png"/></div>
          <div class="summary"><%= order.to_s.gsub(/\n/, '<br/>') -%></div>
        </li>  
      <% end %>
      <% if @prescriptions.blank? %>        
        <li class="data">No prescriptions are available for this patient today</li>
      <% end %>
    </ul>
    <button id="regimen" class="silver" style="float:right;margin-top:10px;"><span>Regimen</span></button>    
    <button id="prescribe" class="silver" style="float:right;margin-top:10px;"><span>Prescribe</span></button>    
    <button id="dispense" class="silver" style="float:right;margin-top:10px;"><span>Dispense</span></button>    
    <div style="padding-top:20px;">
      <form id='barcodeForm' action="/dispensations/create?patient_id=<%= @patient.id -%>" method="post">
        <div style="float:left;margin-top:-6px;"><label for="barcode" style="margin-top:-5px;"><img src="/images/barcode.jpg" style="vertical-align:top;background:white;"/></label></div>
        <%= text_field_tag :identifier, '', {:id => 'barcode', :class => 'touchscreenTextInput', :style => 'position:absolute;width:230px' } %>
        <%= submit_tag "Submit", :style => "display:none" %>
      </form>
    </div>
  </div>  
</div>